name: demo2
on:
  push:
    branches:
      - main
jobs:
  run-on-linux:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: liniting
        uses: cpp-linter/cpp-linter-action@v2.6.1            
      - name: configure
        run: cmake .
      - name: build
        run: make
      - name: execute
        run: ./test-app
  run-on-windows:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: configure
        run: cmake .
      - name: build
        run: msbuild test-app.sln
      - name: execute
        run: ./test-app
  run-on-macos:
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: liniting
        uses: cpp-linter/cpp-linter-action@v2.6.1 
      - name: configure
        run: cmake .
      - name: build
        run: make
      - name: execute
        run: ./test-app
